@use "./base/vars";
@import './base';
@import "./components";

body{
    background-color: #000;
}

@font-face {
    font-family: "Scary1";
    src: url(/src/coldnightforalligators.otf);
}
@font-face {
    font-family: "Scary2";
    src: url(/src/youmurdererbb.otf);
}

p, h1, h2, h3, h4, h5 {
    font-family: "Scary2";
    color: #fff;
}

a {
    color: #fff;
}

h1 {
    font-size: 3rem;
}

.main-title{
    font-family: "Scary1";
    outline: 1px dashed blue;
    padding: 2rem;
    & > h1 {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 8rem;
    }
}

.scary-text{
    color: #f00;
}
.green-text{
    color: #0F0;
}

.mega-text{
    color: #f00;
    font-size: 15rem;
    margin-left: 3rem;
}


.now-we-do{
    margin: 0 auto;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding-block: 6rem;
    width: 1300px;
    outline: 1px solid darksalmon;

    & > h1, &__title{
        font-size: 6rem;
        display: inline-block;
        font-family: "Scary2";
        margin-bottom: 2rem;
    }

    &__tumbnail{
        animation: sway 10s ease-in-out infinite;
        width: 80%;
        border: 1px solid vars.$tumbnailGlowColor;
        box-shadow: 0 0 30px vars.$tumbnailGlowColor;
        border-radius: 2rem;
    }

    &__schedule{
        
        outline: 1px dashed red;
        &-title{
            font-family: "Scary2";
            font-size: 3rem;
        }
        &-subtitle{
            font-size: 2.5rem;
        }
    }
}

@keyframes sway {
        0%   { transform: translateX(0) rotate(0deg); }
        25%  { transform: translateX(-4px) rotate(-1.5deg); }
        50%  { transform: translateX(0) rotate(0deg); }
        75%  { transform: translateX(4px) rotate(1.5deg); }
        100% { transform: translateX(0) rotate(0deg); }
}

.sidebar{
    margin: 3rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    outline: 1px solid red;
    padding: 1rem 0;
    &--participants{
        margin-top: 10rem;
        padding: 2rem;
    }
    &__link{
        transition: 0.13s;
        padding: 0.3rem 1rem;
        font-family: 'Courier New', Courier, monospace;
        // text-transform: uppercase;
        font-size: 1rem;
        &:hover{
            transform: translateX(10%);
            font-weight: 900;
        }
        &::before{
            content: "► ";
        }
    }

    
}
